<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>


    <div class="pb-2">
<accordion [isAnimated]="true" class="shadow">
        <accordion-group heading="Work Experience">
            <div>
                <h2 class="mb-0">Junior Java Developer</h2>
                <h4 class="mb-0"> in </h4>
                <h3 class="text-primary">Essembli sp. z.o.o.</h3>
                <h4 style="text-align: left;">I was responsible for:</h4>
                <ul style="text-align: left;">
                    <li>developing validation additions during document processing</li>
                    <li>creating new functionalities for the CC&B system write in java 
                        language</li>
                    <li>developing dedicated scripts for the client’s system</li>
                    <li>analysing bugs and errors in client’s system and searching for 
                        solutions</li>
                </ul>
            </div>
            <hr>
            <div>
                <h2 class="mb-0">Software Consultant</h2>
                <h4 class="mb-0"> in </h4>
                <h3 class="text-primary">NetCompany</h3>
                <h4 style="text-align: left;">I was responsible for:</h4>
                <ul style="text-align: left;">
                    <li>looking for solutions for CVE and tried to solving them regarding the 
                        client application</li>
                    <li> working with SQL and Postgres relational database</li>
                    <li>using Java and Typescript for backend development</li>
                    <li>daily contact with client and analyse new problems</li>
                </ul>
            </div>

        </accordion-group>
        <accordion-group heading="Education">
           
                <div>
                    <h2 class="mb-0">Warsaw University of Life Science</h2>
                    <h3 class="text-primary">Bachelor's degree</h3>
                    <h4 class="text-primary"> Computer systems engineering</h4>
                    <ul style="text-align: left;">
                        <h5>
                        <li>2018 - 2022</li>
                        <li> Graduated with 5 degree</li>
                        <li>The topic of the engineering thesis was the implementation and then description of the creation of an application for adding and finding outdoor sports facilities. The application was written in Flutter technology with the Dart programming language and Firebase as the database.</li>
                        </h5>
                    </ul>
                </div>
                <hr>
                <div>
                    <h2 class="mb-0">Warsaw University of Life Science</h2>
                    <h3 class="text-primary">Master's degree</h3>
                    <h4 class="text-primary"> Inteligent Systems</h4>
                   
                    <ul style="text-align: left;">
                        <h5>
                        <li>2023 - present</li>
                        <li>The topic of my master degree is Comparative analysis of investment strategies based on technical analysis indicators and machine learning algorithms. My vision is to implement many different combinations of investment strategies. I write these algorithms in PineScript, a dedicated library for implementing technical analysis indicators for the TradingView platform. Then I want to implement algorithms for investment strategies based on Machine Learning after which I want to compare the effectiveness of these two approaches for the market at different points in time and verify their effectiveness</li>
                        </h5>
                 </ul>
                </div>
    
        </accordion-group>
        <accordion-group heading="Certifications">
            <div>
                <h2 class="mb-0">Prompt Design in Vertex AI</h2>
                <h4 style="text-align: left;">The introductory Prompt Design in Vertex AI skill badge certifies proficiency in prompt engineering, image analysis, and multimodal generative techniques, demonstrating the ability to apply advanced Gemini models in marketing scenarios.</h4>
                <h5 style="text-align: left;">Skills:</h5>
                <ul style="text-align: left;">
                    <li>Artificial Intelligence (AI)</li>
                    <li>Gemini APIs</li>
                    <li>Generative AI</li>
                    <li>Prompt Engineering</li>
                </ul>
            </div>
            <hr>
            <div>
                <h2 class="mb-0">Develop GenAI Apps with Gemini and Streamlit</h2>
                <h4 style="text-align: left;">The intermediate Develop GenAI Apps with Gemini and Streamlit skill badge certifies proficiency in text generation, using the Python SDK and Gemini API, and deploying Streamlit applications with Cloud Run.</h4>
                <h5 style="text-align: left;">Skills:</h5>
                <ul style="text-align: left;">
                    <li>Application Development</li>
                    <li>Gemini</li>
                    <li>Generative AI</li>
                    <li>Python</li>
                    <li>Streamlit</li>
                    <li>Vertex AI</li>
                </ul>
            </div>
            <div>
                <h2 class="mb-0">Explore Generative AI with the Vertex AI Gemini API </h2>
                <h4 style="text-align: left;">The intermediate Explore Generative AI with the Vertex AI Gemini API skill badge certifies proficiency in text generation, image and video analysis for enriched content creation, and utilizing function calling techniques within the Gemini API. It encompasses leveraging advanced Gemini techniques, exploring multimodal content generation, and enhancing the capabilities of AI-powered projects.</h4>
                <h5 style="text-align: left;">Skills:</h5>
                <ul style="text-align: left;">
                    <li>Gemini</li>
                    <li>Generative AI</li>
                    <li>Vertex AI</li>
                    <li>Python</li>
                </ul>
            </div>
            <div>
                <h2 class="mb-0">Prompt Design in Vertex AI</h2>
                <h4 style="text-align: left;">The introductory Prompt Design in Vertex AI skill badge certifies proficiency in prompt engineering, image analysis, and multimodal generative techniques, demonstrating the ability to apply advanced Gemini models in marketing scenarios.</h4>
                <h5 style="text-align: left;">Skills:</h5>
                <ul style="text-align: left;">
                    <li>RAG</li>
                    <li>Gemini</li>
                    <li>Generative AI</li>
                    <li>Vertex AI</li>
                    <li>Langchain</li>
                </ul>
            </div>
        </accordion-group>
        <accordion-group heading="Skills">
            <div class="row">
                <div class="col">
                    <h3>Programming Skills</h3>
                        <ul>
                            <li>Java</li>
                            <li>Python</li>
                            <li>C#</li>
                            <li>LangChain</li>

                        </ul>
                </div>
                <div class="col">
                    <h3>Frameworks</h3>
                        <ul>
                            <li>Spring Boot</li>
                            <li>Hibernate</li>
                            <li>Streamlit</li>
                            <li>Spring Data</li>
                        </ul>
                </div>
                <div class="col">
                    <h3>Other Skills</h3>
                        <ul>
                            <li>Agile Development</li>
                            <li>Critical Thinking</li>
                            <li>MVC Architecture</li>
                        </ul>
                </div>
            </div>
        </accordion-group>
    </accordion>
    </div>
    
</div>
