<div class="container">
    <div class="row">
        <!-- About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/piter.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>I am a Junior Developer with hands-on experience in Java, SQL, and TypeScript from my time at two different companies. Currently, I am expanding my skills in artificial intelligence, focusing on LangChain and Google Vertex AI. I have a passion for continuous learning and enjoy training in calisthenics. I also love reading books on psychology and personal development. I thrive in dynamic environments and am dedicated to leveraging technology to create innovative solutions. </p>
            </div>
        </div>
        <!-- Featured Projects-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let pic of featuredProject.pictures">
                    <slide><img src={{pic}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit Portfolio section to see more!</p>

        </div>
    </div>
</div>
