<div class="container">
    <div class="row">
        <!-- About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/piter.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At architecto labore necessitatibus minus hic. Provident, asperiores? Fugiat ullam adipisci quia hic dignissimos magnam, reiciendis repellat illo expedita. Atque, eos ratione. </p>
            </div>
        </div>
        <!-- Featured Projects-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
            </div>
        </div>
    </div>
</div>
